{% extends "core/base.html" %}

{% block content %}
    <h4>Add A New Artist</h4>
    
    <form action="" method = "POST">
        {% csrf_token %}
        <div
            {% if form.name.errors %}
                class="form-group has-error"
            {% else %}
                class="form-group"
            {% endif %}
        >
            {{form.name.label_tag}}
            {{form.name}}
            
            {% if form.name.errors %}
                <span class="help-block">
                    {% for error in form.name.errors %}
                        {{error}}
                    {% endfor %}
        </div>

                </span>
            {% endif %}
        
        <button type="submit" class="btn btn-primary btn-block btn-lg">
            Save
        </button>
    </form>

{% endblock content %}





