{% extends "core/base.html" %}

{% block content %}
    <div class = "information_list">
        <h1>
            Artists
        </h1>
        <p>A complete list of all artists.</p>
        
        <hr>

        {% for artist in artists %}
            <p>
                <a href="{{artist.pk}}">
                    {{artist.name}}                                
                </a>
            </p>
        {% endfor %}
            
        <hr>
     
        <a href="{% url 'artists:artist_new' %}" class="btn btn-primary btn-block btn-lg">
            Add a new artist.
        </a>

    </div>

{% endblock content %}