{% extends "core/base.html" %}

{% block content %}
    <div class="jumbotron jumbotron-index">
        <h1>
            Music Library
        </h1>
        <li>
            <h2>
                <a href="/artists">Artists</a>
            </h2>
        </li>
        <li>
            <h2>
                <a href="/albums">Albums</a>
            </h2>
        </li>
        <li>
            <h2>
                <a href="#">Songs</a>
            </h2>
        </li>
    </div>


{% endblock content %}