body{
    padding-top: 70px;
    padding-bottom: 70px;
}

.page-footer {
    position: fixed;
    bottom: 0;
    background-color: #fff;
    width: 100%;
}

.jumbotron-index {
    text-align: center;
    background-color: ##FFF7EE;
}

.information_list {
    text-align: center;
}

.save_button {
    margin-top: 10px;
}

